body {
    background-color: #dbddc1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #414994;
    text-align: center;
    border-style: solid;
  border-bottom-width: 15px;
}

p {
    color: #7355c5;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}