body {
    background-color: #dbddc1;
    font-family: Arial, sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #616bc1;
    text-align: center;
    border-style: solid;
  border-bottom-width: 15px;
}

p {
    color: #3c77ad;
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}